.vars-form
  .error
    color red
.financial-results
  tr:nth-child(even)
    background-color #eee
  //td
    //border 2px solid #ccc
  .passiveGrowth, .spent, .total, .iPassiveGrowth, .iTotal
    text-align right
